<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center mx-auto">
      <div class="card" style="width: 25rem">
        <div class="card-body text-center align-items-center">
          <h5 class="card-title">Novo Pedido</h5>
          <app-card-item-order (newTask)="onChangeValor($event)"></app-card-item-order>
          <h5>Total: {{ total }}</h5>
          <div class="d-grid gap-2 " style="margin-top: 50px;">
            <a routerLink='/conclusion/true' class="btn btn-dark" type="button">Finalizar Pedido</a>
            <a routerLink="/conclusion/false" class="btn btn-dark" type="button">Cancelar Pedido</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

