<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center mx-auto">
      <div class="card" style="width: 18rem">
        <div *ngIf="success;else other_content">
          <div class="card-body text-center align-items-center">
            <h5 class="card-title">Pedido Cadastrado com sucesso!</h5>
            <img style="width: 12rem;" src="../../assets/images/success-icon.jpg" alt="sucesso">
            <div class="d-grid gap-1 " style="margin-top: 50px;">
              <a routerLink="" class="btn btn-dark" type="button">Voltar a Tela inicial</a>
            </div>
          </div>
        </div>
        <ng-template #other_content>
          <div class="card-body text-center align-items-center">
            <h5 class="card-title">Pedido cancelado!</h5>
            <img style="width: 8rem;" src="../../assets/images/cancel-icon.png" alt="cancelado">
            <div class="d-grid gap-1 " style="margin-top: 50px;">
              <a routerLink="" class="btn btn-dark" type="button">Voltar a Tela inicial</a>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</body>
</html>

