<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center mx-auto">
      <div class="card" style="width: 18rem">
        <div class="card-body text-center align-items-center">
          <h5 class="card-title">Bar do Adelar</h5>
          <img src="{{myImage}}" alt="Logo Bar">
          <div class="d-grid gap-2" style="margin-top: 50px;">
            <button (click)="onButtonPedidoClick();" class="btn btn-dark" type="button">Novo Pedido</button>
            <button (click)=" onButtonCadastrarItemClick();"  class="btn btn-dark" type="button">Cadastro de Item</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
